@font-face {
    font-family: 'InterphasesBold';
    src: url('interphasesbold.ttf') format('truetype');
}
@font-face {
    font-family: 'InterphasesMed';
    src: url('interphasesmedium.ttf') format('truetype');
}
@font-face {
    font-family: 'InterphasesReg';
    src: url('interphasesregular.ttf') format('truetype');
}

body {
    font-family: 'InterphasesReg', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    font-family: 'InterphasesBold', sans-serif;
    padding: 20px 50px;
    position: relative;
}

#header-text {
    font-family: 'InterphasesReg', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'InterphasesBold', sans-serif;
    font-size: 40px;
    margin: 0;
}

.main-nav {
    position: absolute;
    top: 20px;
    right: 50px;
}

ul.nav-bar {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    padding-bottom: 5px;
}

.nav-bar li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #405cf5;
    transition: all .4s ease;
    left: 50%;
    transform: translateX(-50%);
}

.nav-bar li a:hover:before {
    width: 100%
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* About Page */ 
.about-us{
  width: 60vw;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  margin-top: 150px;
}

#about-text{
  margin-top: 30px;
}




/* Stock Page */
.stock-buttons button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin: 0px 10px;
}

.stock-buttons button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.stock-buttons button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.stock-buttons button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.stock-table {
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.stock-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

.stock-table th, .stock-table td {
    padding: 12px 15px;
}

.stock-table tr {
  border-bottom: 1px solid #dddddd;
}

.stock-table tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.stock-table tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.adding-stock {
  border: 2px solid black;
  background-color:#dae3be;
  padding: 10px;
}

.new-stock-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new-stock-form input[type="submit"] {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.new-stock-form input[type="submit"]:hover,
.new-stock-form input[type="submit"]:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.new-stock-form input[type="submit"]:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.new-stock-form input[type="submit"]:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}